* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: white;
    background-color: gray;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 173, 0.056)
}

.star {
    color: red;
}

.picture1 {
    height: 60vh;
    width: 55vh;
    background-color: white;
    border-radius: 9px;

}

.logo {
    margin-left: 19vh;
    margin-top: 5vh;
}

.mobile {
    margin-top: 15vh;
    margin-left: 7vh;
}

.mobile1 {
    height: 4.5vh;
    width: 40vh;
    border: none;
    border: 1px solid rgba(128, 128, 128, 0.464);
    background-color: rgba(241, 232, 232, 0.104);
    border-radius: 5px;
}

.btn1 {
    height: 4.5vh;
    width: 40vh;
    margin-top: 2.5vh;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.btn1:hover {
    background-color: white;
    color: red;
    border: radius 1px;
    ;
}

.btn2 {
    height: 4.5vh;
    width: 40vh;
    margin-top: 1.5vh;
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.mobile1:hover {
    border: none;
    border-radius: 5px;
    border: 1px solid red;
}
