* {
    margin: 0;
    padding: 0;
}

/* body {
    background-color: rgb(187, 187, 187);
} */
.header {
    background-color: red;
    height: 5vh;
    display: flex;
    align-items: center;

}
::selection{
    color: white;
    background-color: gray;
}
#city {
    height: 4vh;
    border-radius: 0.5vh;
    background: transparent;
    color: white;
    margin-left: 10vh;
    border: 0.3vh solid white
}

#lan {
    height: 4vh;
    border-radius: 0.5vh;
    margin-left: 1vh;
    background: transparent;
    color: white;
    border: 0.3vh solid white;
}

.header option {
    color: black;
}

.header marquee {
    display: flex;
    margin-left: 60vh;
    color: white;
    margin-right: 10vh;
}
.hamburger {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    display: none;
}
.menu {
    height: 100vh;
    width: 0;
    position: absolute;
    top: 75px;
    left: 0;
    background-color: #efeaea;
    /* overflow-x: hidden; */
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999;
    display:none;
}
.menu a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
/* .menu a:hover {
    background-color: #575757;
} */
.content {
    padding: 60px 20px;
    margin-top: 60px; /* Space for the fixed header */
}
#menu-toggle:checked + .menu {
    width: 250px;
    display: block;
}
.std{
    display: none;
    z-index: 40;
    padding: 5vh 5vh 5vh 0vh;
}
.c{
    display: none;
    z-index: 40;
    padding: 5vh 5vh 5vh 0vh;
    /* display: flex; */
}
.coursenav{
    display: none;
    z-index: 40;
    padding: 5vh 5vh 5vh 0vh;
}
.navaboutas{
    display: none;
    z-index: 40;
    padding: 5vh 5vh 5vh 0vh;
}
.group{
    display: none;
    z-index: 40;
    /* padding: 5vh 0vh 5vh 0vh; */
} 
.navstudent{
    display:  none;
    z-index: 40;
    padding: 5vh 5vh 5vh 0vh;
}
.sidestd{
    display:  none;
    z-index: 40;
}
.sidec{
    display:  none;
    z-index: 40;
}
.sidecoursenav{
    display: none;
    z-index: 40;
}
.sidenavaboutas{
    display: none;
    z-index: 40;
}
.sidenavstudent{
    display: none;
    z-index: 40;
}.sidegroup{
    display: none;
    z-index: 41;
}
/* -----------------------------------------------------------navigation-bar------------------------------------------------- */
.nav1 {
    display: flex;
    color: black;
    background-color: rgb(255, 255, 255);
    height: 10vh;
}

.l2 {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    padding-right:20vh;
}

.nav1 a {
    margin-left: 5vh;
    color: black;
    text-decoration: none;
    font-size: 2vh;
}

.nav1 img {
    height: 8vh;
    width: 25vh;
    margin-left: 10vh;
}
.career h3{
    padding-bottom: 1vh;
    border-bottom: 0.2vh dashed black;
}

.img {
    height: 80vh;
    width: auto;
    background: black;
    animation-name: img;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.l ul li a:hover{
    color: red;
}
#std:hover .std{
    display: block;
    position: absolute;
    top: 6vh;
    right: 100vh;
    background-color: white;
}
#c:hover .c{
    display: block;
    position: absolute;
    top: 6vh;
    right: 40vh;
    background-color: white;
    display: flex;
}
#coursenav:hover .coursenav{
    display: block;
    position: absolute;
    top: 6vh;
    right: 10vh;
    background-color: white;
    display: flex;
}
#navaboutas:hover .navaboutas{
    display: block;
    position: absolute;
    top: 6vh;
    right: 40vh;
    background-color: white;
    /* width: 50vh; */
    /* border: 1px solid black; */
}
#group:hover .group{
    display: block;
    position: absolute;
    width: 40vh;
    top: 6vh;
    right: 35vh;
    background-color: white;
}
#navstudent:hover .navstudent{
    display: block;
    position: absolute;
    top: 6vh;
    right: 30vh;
    background-color: white;
}
#sidestd:hover .sidestd{
    display: block;
    height: 30vh;
    width: 36vh;
    /* overflow-y: scroll; */
    background-color: white;
}
#sidec:hover .sidec{
    display: block;
    height: 30vh;
    width: 36vh;
    overflow-y: scroll;
    background-color: white;
}
#sidecoursenav:hover .sidecoursenav{
    display: block;
    height: 30vh;
    width: 36vh;
    overflow-y: scroll;
    background-color: white;
}
#sidenavaboutas:hover .sidenavaboutas{
    display: block;
    height: 30vh;
    width: 36vh;
    overflow-y: scroll;
    background-color: white;
}
#sidenavstudent:hover .sidenavstudent{
    display: block;
    height: 30vh;
    width: 36vh;
    overflow-y: scroll;
    background-color: white;
}
#sidegroup:hover .sidegroup{
    display: block;
    height: 30vh;
    width: 36vh;
    overflow-y: scroll;
    background-color: white;
}
.menu > ul {
    list-style: none;
}
.menu a{
    margin: 1vh;
    padding: 1vh;
}

.slider img{
    height: 85vh;
    width: 100%;
}
.c1{
    height:100vh;
    width: auto;
    background-image: linear-gradient(blue,blue,("/img/Std10&12-img/bg-bg.jpg"));
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c1_con{
    height: 90vh;
    width: 80%;
    border: 0.1vh solid rgba(255, 255, 255, 0.158);
    border-radius: 1vh;  
    display: flex;
   align-items: center;
}
.c1_img{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c1_img img{
    width: 80%;
    height: 50vh;
}
.c1_content{
    width: 70%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#s1{
    background-color: white;
    color: rgba(0, 0, 0, 0.418);
    padding: 2vh;
    border-radius: 1vh;
    display: inline-block;
}
#s1 span{
    color: black;
    font-weight: 500;
}
.c2{
    height: auto;
    width: auto;
    margin: 5%;
}
.c2_con{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.c2_box1{
    height: auto;
    width: 40%;
    background-color: rgba(128, 128, 128, 0.048);
    border-radius: 1vh;
    margin: 2%;
    display: flex;
    /* justify-content: center; */
}
.c2_box2{
    height: auto;
    width: 40%;
    background-color: rgba(255, 100, 11, 0.171);
    border-radius: 1vh;
    margin: 2%;
    display: flex;
    /* justify-content: center; */
}
.box_con{
    height: auto;
    width: 70%;
    padding: 8%;
}
.box_img{
    height: auto;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.box_img img{
    height: auto;
    width: auto;
}
.c3{
    height: 35vh;
    width: 100%;
    margin-top: 9%;
    background-color: #02395A;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.c3_img{
    height: 35vh;
    width:40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.c3_img img{
    height: 50vh;
    width: auto;
}
.c3_con{
    height: 35vh;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.c3_con img{
    height: 15vh;
    width: 50vh;    
    margin-top: 2%;
}
.c4,
.c5,
.c6,
.c7{
    height: 70vh;
    width: 90%;
    margin: 2.5% 5%;
    display: flex;
    justify-content: center;
}
.c4_video{
    height:60vh;
    width: 60%;
    display: flex;
    justify-content: flex-start;
}
.c5_video{
    height:60vh;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    order: 1;
}
.c4_video video,
.c5_video video{
    height: 55vh;
    width: 90%;
    margin-top: 5%;
    border-radius: 5vh;
}
.c4_con,
.c5_con{
    height: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.c4_con img{
    height: 15vh;
    width: 50vh;
}
.c5 button,
.c6 button,
.c7 button,
.c8 button
{
    height: 11vh;
    width: 40.5vh;
    background-image: url("/img/Std10&12-img/btn-design.png");
    background-size: cover;
    border-style: none;
    font-size: 2.8vh;
    color: rgb(38, 38, 92);
    font-weight: 550;
    margin-top: 3%;border-radius: 4.7vh;
}
.c8{
    /* height: 50vh;
    width: 100%; */
    height: auto;
    width: auto;
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.034);
}
.c8_box{
    height: 20vh;
    width:90%;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
}
.c8_b{
    height: 22vh;
    width: 28%;
    margin-left: 5%;
}
.c9{
    height: auto;
    width: 100%;
    background-color:rgba(0, 255, 255, 0.041);
    display: flex;
    flex-direction: column;
    align-items: center;
}
input
{
    display: none;
}
.c9_box{
    margin: 2% 15% 2% 15%;
    height: auto;
    width: 70%;
    background-color: white;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
}
.c9_con li{
    margin-left: 5%;
    color: rgba(0, 0, 0, 0.692);
}
input:checked+label+.c9_con {
    display: block;
}
.c9_con {
    display: none;
    height: auto;
    width: 100%;
    background-color: white;
}
.c9 button{
    height: 11vh;
    width: 75vh;
    background-image: url("/img/Std10&12-img/btn-design.png");
    background-size: cover;
    border-style: none;
    font-size: 2.8vh;
    color: rgb(38, 38, 92);
    font-weight: 550;
    margin-top: 3%;border-radius: 4.7vh;
}
.c9 label{
    cursor: pointer;

}
.c9 label:hover{
    color: blue;
}
#f_color{
    color: rgba(0, 0, 0, 0.521);
}
/* ----------------------------------Footer---------------------------------------------------- */
.footer {
    background-color: black;
    margin-top: 3%;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.footer img {
    height: 4vh;
    width: auto;
    margin: 0.5vh;
}

.footer ul {
    list-style: none;
    margin: 5vh 5vh 5vh 5vh;
}

.footer li {
    padding: 0.5vh;
    display: flex;
}

.footer h2 {
    padding: 2vh 0vh;
}

.last {
    background-color: rgb(10, 10, 10);
    height: 8vh;
    display: flex;
    padding: 3vh 10vh;
    color: white;
}

/* ---------------------------------------------------------------------------------- */
.last h4 {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

@media only screen and (max-width: 768px) {
    .l{
        display: none;
    }
    .course1{
        display: block;
    }
    .hamburger{
        display: block;
    }
    /* For desktop: */
    .c1_content{
        height: 100%;
        padding: 2%;
    }
    .c1{
        display: block;
        width: auto;
        height: auto;
    }
    .c1_con{
        display: block;
        width: auto;
        height: auto;
        margin: 5%;
    }
    .c2_box1{
        display: block;
        width: auto;
    }
    .c2_box2{
        display: block;
        width: auto;
    }
    .box_img{
        width: auto;
        display: block;
        margin-left: 45%;
    }
    .box_con{
        display: block;
        width: auto;
    }
    .c4,.c5,.c6,.c7,.c6{
        display: block;
        width: auto;
        height: auto;
    }
    .c4_con{
        display: block;
        width: auto;
    }
    .c4_video{
        display: block;
        width: auto;
    }
    .c5_con{
        display: block;
        width: auto;
    }
    .c5_video{
        display: block;
        width: auto;
    }
    .c8_box{
        display: block;
        width: auto;
        height: auto;
    }
    .c8_b{
        width: auto;
    }
    .c9{
        display: block;
        width: auto;
    }
    .c9_box{
         /* display: block; */
        width:auto;
    }
  }